.light {
    animation: light 800ms ease-in-out 0s infinite alternate;
  }
  .cloud {
    position: absolute;
    top: 0px;
    right: -500px;
    opacity: .8;
     animation: cloud 20s linear 0s infinite reverse;
    z-index: 99;
  }
  @keyframes light {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes cloud {
    from {right:-500px;}
    to {right: 120%;}
  }