@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  color-scheme: dark;
} */

body {
  background-color: #f8f8ff;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Ubuntu", sans-serif;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.green-pink-gradient {
  background: #00cea8; /* Fallback color */
  background: linear-gradient(90.13deg, #51e8cd 1.9%, #d2ea4d 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #53dbc2 1.9%, #ffef61 97.5%);
}

.bg-tertiary {
  background-color: #151030; /* Background color */
}
.hover\:green-pink-gradient:hover {
  background: #00cea8; /* Fallback color */
  background: linear-gradient(90.13deg, #d34dee 1.9%, #d2ea4d 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #e953e2 1.9%, #ffef61 97.5%);
}
.hover\:bg-tertiary:hover {
  background-color: #272052;
}
@keyframes moveCompany {
  0% {
    top: 0;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 0%;
  }
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hei {
  height: 70vh;
}
.heig {
  height: 90vh;
}

.boxSh {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.tt {
  background-color: #33475b;
}
/* .b1{
  background-color: rgb(15, 41, 15);
} */

.l:hover {
  cursor: pointer;
}
