@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
  color-scheme: dark;
} */
.moverovers{
  animation: 10s infinite linear moveCompany;
}
body{
  background-color: #F8F8FF;
  /* background-color: #151030; */
  /* background-image:url('/src/image/herobg.png'); */
  /* background-image: linear-gradient(to right, #96a6a6, #516572); */
  /* background-image: #151030; */
  /* background-image: linear-gradient(to right, #b6fbff, #afdaf9); */
  /* background-image: linear-gradient(to right top, #5e535b, #6a596c, #73607f, #766995, #7274ac, #617bb5, #4b83bd, #2a8ac1, #008cb3, #078ca3, #288a92, #3f8882); */
  /* background-image: linear-gradient(to right top, #e8e3e6, #e5dbe4, #dfd4e4, #d5cee5, #c8c9e7, #bfcbeb, #b5cdee, #aad0ef, #a7d9f1, #a7e1f1, #abe8ef, #b3efec); */
  font-family: 'Ubuntu', sans-serif;
 
  
}
.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes moveCompany {
  0%{
    top:0;
  }
  50%{
    top:10%;
  }
  100%{
    top:0%;
  }
}
.moveroverss{
  animation: 20s infinite linear moveCompanys;
}

@keyframes moveCompanys {
  0%{
    top:0;
  }
  50%{
    top:50%;
  }
  100%{
    top:0%;
  }
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.hei{
  height: 70vh;
}
.heig{
  height: 90vh;
}

.boxSh{
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}



.tt{
  background-color: #33475b;
}
/* .b1{
  background-color: rgb(15, 41, 15);
} */

.l:hover{
  cursor: pointer;
}